import /system/etc/init/init.devicesetting.rc

on boot
    # Touchscreen
    chown system system /proc/touchpanel/double_tap_enable

    # Disable edge limit control interface
    write /proc/touchpanel/oppo_tp_limit_enable 0

    # Enable oppo touchpanel direction
    write /proc/touchpanel/oppo_tp_direction 1

    # Update touchscreen firmware
    write /proc/touchpanel/tp_fw_update 1

service cvphalservice /system/bin/true
    disabled
